<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <style>
    header{
      box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }
    body{
      background: #C9D6FF; 
      background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);  
      background: linear-gradient(to right, #E2E2E2, #C9D6FF); 

    }
    </style>
  </head>
  <body class="font-[Poppins]  h-screen"
  >
    <header class="bg-white  fixed h-[10%] w-full">
      <nav class=" flex justify-between items-center w-[92%] mx-auto pt-[9px]">
        <div>
         <a href="./index.php"><img class="w-[29px]" src="/kalashree_urltask/Assests/bolt-solid.svg" alt="" /></a> 
        </div>

        <div class="">
          <ul class="flex items-center gap-[4vw]">
            <li>
              <a class="hover:text-gray-500"  href="../view/DashboardView.php">Dashboard</a>
            </li>

            <li>
              <a  class="hover:text-gray-500" href="../view/AboutView.php">About</a>
            </li>
            <li>
              <a  class="hover:text-gray-500" href="../view/contactusView.php">Contact Us</a>
            </li>
            <li>
              <a  class="hover:text-gray-500" href="../view/termsView.php">Terms and conditions</a>
            </li>
            <li>
              <a  class="hover:text-gray-500" href="../blog.php">Blog</a>
            </li>
          </ul>
        </div>
        <div>
          <button
            class="bg-[#a6c1ee] text-white px-5 py-2 rounded-full hover:bg-[#87acec]"
          >
          <a href="/kalashree-url task/view/signupView.php"> Sign in</a> 
          </button>
        </div>
      </nav>
    </header>






   
  </body>
</html>
